.ChatList {
    background-color: #ffffff;
    border-right: 1px solid #e8e8e8;
    height: 100vh;
    overflow-y: scroll;
}

.ChatList h2 {
    text-align: center;
}

.ChatList ul {
    list-style: none;
    margin-top: 50px;
    padding: 0;
}

.ChatList__item:not(:last-child) {
    margin-bottom: 30px;
}

.ChatList__item {
    cursor: pointer;
    text-align: center;
    color: #ffffff;
}

.ChatList__item > a {
    transition: opacity 0.3s ease-in;
    background-color: var(--sear-blue);
    border-radius: 50%;
    padding: 10px 15px;
}

.ChatList__item > a:hover {
    opacity: 0.3;
}